<% layout("../layouts/boilerplate") %>
<body>
    <h1>All Listings</h1>

    <form action="/listings/new">
        <button>Create New Listing</button>
    </form>
    
    <ul>
        <% for (let listing of AllListings) { %>
            <li><a href="/listings/<%=listing._id%>"><%= listing.title %> </a></li>
            <hr>
        <% } %>
    </ul>
</body>
